body{
	background-color: lightgrey;
}
.col-md-10{
	background-color: blue;
}
.col-md-2{
	background-color: red;
}

.col-md{
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;

}
.page-footer{
	background-color: yellow;
}
.footer-copyright{
	padding: 20px;
	background-color: lightblue;
}