body{
	background-color: lightgrey;
}

.col-md-10{
}

.col-md-2{

}

.card{
	margin-top: 20px;
	margin-bottom: 20px;

}
.card-header{
	text-align: center;
}
.page-footer{
	background-color: yellow;
}
.footer-copyright{
	padding: 20px;
	background-color: lightblue;
}