body{
	background-color: #114B7A;
}
pre{
	margin: 0;
	overflow-x: hidden;
}
.col-md-10{
}

.col-md-2{

}

.card{
	margin-bottom: 20px;
}
.card-top{
	margin-top: 20px;
}
.card-header{
	text-align: center;
}
.page-footer{
	background-color: yellow;
}
.footer-copyright{
	padding: 20px;
	background-color: lightblue;
}